QPushButton {
    border-radius: 4px;
    background-color: #1c7cba;
    color: #fff;
    height: 30px;
    min-width: 80px;
    padding: 0 20px;
}

QPushButton:disabled {
    background-color: #8f8f8f;
}

QToolButton {
    border-radius: 4px;
    height: 30px;
    width: 30px;
    border: 1px solid #8f8f8f;
}